body {
  margin: 0;
}

.layout {
  width: 100%;
  height: 100vh;
  padding: 4rem 0;
}

.loginForm.logined {
  display: none;
}

.loginForm::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000;
  opacity: 0.2;
}

.loginInput {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  background: #8DC8FF;
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
}

.navBar SVG {
  height: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.navBar h1 {
  margin: 0;
  flex-grow: 1;
}

.list {
  padding: 1rem;
  border: 1px solid #C7C3C6;
  box-sizing: border-box;
  border-radius: 4px;
  width: 95%;
  margin: auto;
  min-height: calc(100% - 8rem);
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

input {
  border: 1px solid #C7C3C6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 0.25rem 1rem;
}

.todo  {
  display: flex;
  justify-content: center;
  align-items: center ;
  margin-bottom: 0.75rem;
}

.todo.done {
  color: #8DC8FF;
}

.todo .content {
  flex-grow: 1;
  padding: 0 1rem;
}

.todo button {
  background: transparent;
  border: none;
}

.todo button svg {
  height: 1rem;
  width: 1rem;
}

.create-todo {
  width: 100%;
  display: flex;
}

.create-todo input {
  flex-grow: 1;
}
.create-todo button {
  background: #8DC8FF;
  border: none;
  height: 1.5rem;
  width: 2.5rem;
  cursor: pointer;
}

.create-todo button SVG {
  height: 1.5rem;
  width: 1.5rem;
}